# C# stuff
bin/
obj/
.vs/
Debug/
Release/
launchSettings.json

# Copyrighted stuff
rsdk-source-data/*.rsdk
rsdk-source-data/sonic*/
sonic-hybrid/Data/

# Unwanted generated stuff
sonic-hybrid/*Data.bin
sonic-hybrid/Settings.*

# Don't Include RSDKv4 files
sonic-hybrid/vorbis.dll
sonic-hybrid/usage.txt
sonic-hybrid/SDL2.dll
sonic-hybrid/RSDKv4.exe
sonic-hybrid/ogg.dll
sonic-hybrid/log.txt
sonic-hybrid/glew32.dll
